@import 'styles/settings.scss';

.creation-item {
    width: 100%;

    .image {
        padding-bottom: 56.5%;
        background: $black;
    }

    .content {
        background: $lightgray;
        width: calc(100% - 30px);
        margin: -20px 0 0 15px;
        padding: 20px;

        @include breakpoint(large) {
            padding: 25px;
        }

        .tag-container {
            margin-bottom: 10px;
        }
    }
}