@import 'styles/settings';

.page-container {
    min-height: calc(100vh - 300px);

    &:not(.without-margin) {
        padding: 80px 0 40px 0;

        @include breakpoint(large) {
            padding: 150px 0 80px 0;
        }
    }
}