@import 'styles/settings';

.site-navigation {
    padding: 0 40px;

    a {
        color: $black;
        padding: 25px;
        text-transform: uppercase;
        font-weight: 600;

        &:hover,
        &.active {
            color: $primary;
        }

        &:hover {
            opacity: .75;
        }
    }
}