@import 'styles/settings';

.site-navigation {
    padding: 20px;

    a {
        color: $black;
        padding: 20px;
        text-transform: uppercase;
        font-weight: bold;

        &:hover,
        &.active {
            color: $primary;
        }

        &:hover {
            opacity: .75;
        }
    }
}