@import 'styles/settings';

.creations-detail-page {
    .phone-mockups {
        margin-top: 20px;
        img {
            width: 100%;
        }

        @include breakpoint(medium) {
            margin: 0 -20px;
        }

        .phone-mockup {
            border-radius: 25px;
            overflow: hidden;
            position: relative;
            border: 10px solid $black;

            &:before {
                z-index: 2;
                content: ' ';
                position: absolute;
                top: -5px;
                left: 50%;
                transform: translateX(-50%);
                background: $black;
                height: 20px;
                border-radius: 5px;
                width: 100px;

            }

            @include breakpoint(medium) {
                margin: 20px;
            }

        }
    }
}