@import 'styles/settings.scss';

.heading-container {
    margin-bottom: 30px;

    &.small {
        margin-bottom: 10px;
    }

    &.tiny {
        margin-bottom: 5px;
    }

    .heading {
        font-weight: bold;
        font-family: $heading-font;
        line-height: 1.4;

        &.tiny {
            font-size: 20px;

            @include breakpoint(medium) {
                font-size: 28px;
            }
        }

        &.small {
            font-size: 22px;

            @include breakpoint(medium) {
                font-size: 36px;
            }
        }


        &.large {
            color: $primary;
            font-size: 24px;

            @include breakpoint(medium) {
                font-size: 36px;
            }

            @include breakpoint(large) {
                font-size: 72px;
            }
        }

        &.xlarge {
            line-height: 1;
            font-size: 36px;
            color: $primary;

            @include breakpoint(medium) {
                font-size: 68px;
            }

            @include breakpoint(large) {
                font-size: 96px;
            }
        }
    }

}