/*Colors*/
$primary: #FF6056;
$secondary: #9643FF;
$black: #30273D;
$white: #FAF8FD;
$lightgray: #F7F3FB;
$linear-gradient: linear-gradient(to bottom, #9643FF 0%, #8435E8 100%);

$themeColors: (
    'purple': #7D17FF,
    'blue': #3B70F8
);

/*Grid*/
$columns: 12;
$gutter: 30px;
$breakpoints: (
    'small': 480px,
    'medium': 860px,
    'large': 1400px,
    'xlarge': 1640px
);

/*General*/
$header-height: 70px;
$header-height-large: 90px;
$transition: 300ms ease;
$body-font: 'Montserrat', sans-serif;
$heading-font: 'Poppins', $body-font;

@function getFrom($map, $key) {

    @each $keyValue,
    $returnValue in $map {
        @if $keyValue==$key {
            @return $returnValue;
        }
    }

    @return null;
}

@mixin breakpoint($bp) {
    @if type-of($bp)==string {
        $bp: getFrom($breakpoints, $bp);
    }

    @else {
        $bp: $bp + 0px;
    }

    @media screen and (min-width: $bp) {
        @content;
    }
}

@mixin breakpoint-down($bp) {
    @if type-of($bp)==string {
        $bp: getFrom($breakpoints, $bp);
    }

    @else {
        $bp: $bp + 0px;
    }

    @media screen and (max-width: $bp) {
        @content;
    }
}