/*Colors*/
$primary: #FF4F17;
$secondary: #7D17FF;
$black: #1B1226;
$off-white: #FAF8FD;
$lightgray: #F7F7F9;

/*Grid*/
$columns: 12;
$gutter: 30px;
$breakpoints: ('small': 480px,
    'medium': 860px,
    'large': 1400px,
    'xlarge': 1640px);

/*General*/
$header-height: 110px;

@function getFrom($map, $key) {

    @each $keyValue,
    $returnValue in $map {
        @if $keyValue==$key {
            @return $returnValue;
        }
    }

    @return null;
}

@mixin breakpoint($bp) {
    @if type-of($bp)==string {
        $bp: getFrom($breakpoints, $bp);
    }

    @else {
        $bp: $bp + 0px;
    }

    @media screen and (min-width: $bp) {
        @content;
    }
}

@mixin breakpoint-down($bp) {
    @if type-of($bp)==string {
        $bp: getFrom($breakpoints, $bp);
    }

    @else {
        $bp: $bp + 0px;
    }

    @media screen and (max-width: $bp) {
        @content;
    }
}