.home-page {
    .intro-section {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .text-overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            * {
                line-height: 1;
            }
            .subtitle {
                font-size: 18px;
                font-weight: bold;
            }
        }

        .logo {
            max-width: 340px;
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.05;
            z-index: -1;
        }
    }
}