@import 'styles/settings.scss';

.home-page {

    .heading {
        &.special {
            font-size: 36px;
            color: $primary;
            font-family: $heading-font;
            font-weight: normal;

            @include breakpoint(medium) {
                font-size: 68px;
            }

            @include breakpoint(large) {
                font-size: 96px;
            }
        }
    }

    .creations-header {
        .button {
            margin-top: 30px;
        }
    }

    .section-wrapper {
        margin: 60px auto;

        @include breakpoint(large) {
            margin: 200px auto;
        }
    }

    .intro-section {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 200px 0;

        @include breakpoint(large) {
            min-height: 100vh;
            margin-bottom: -200px;
        }

        .text-overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            * {
                line-height: 1.15;
            }

            .subtitle {
                font-weight: bold;
                font-size: 18px;

                @include breakpoint(medium) {
                    font-size: 24px;
                }
            }
        }

        .logo {
            max-width: 340px;
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.05;
            z-index: -1;
        }
    }

    .lead {
        font-size: 18px;
        line-height: 1.6;
        padding: 0 20px;

        @include breakpoint(medium) {
            font-size: 28px;
        }

        text-align: center;
    }

    .me-section {
        padding: 50px 0;
        width: 100%;

        @include breakpoint(medium) {
            padding: 100px 0;
        }
    }
}