@import 'styles/settings.scss';

button {
    background: transparent;
    border: none;
}

.button {
    background: $linear-gradient;    
    color: $white;
    padding: 15px 40px;
    border-radius: 15px;
    cursor: pointer;
}