@import 'styles/settings';

.creations-detail-page {
    .detail-section {
        margin: 50px 0;
        padding: 50px 0;

        @include breakpoint(large) {
            padding: 75px 0;
            margin: 75px 0;
        }

        .creation-details {
            margin-top: 30px;
        }
    }
}