@import 'styles/settings';

.tag {
    display: inline-block;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    font-weight: bold;
}

@each $i,
$color in $themeColors {
    .tag {
        &.theme-#{$i} {
            background: rgba($color, 0.1);
            color: $color;
        }
    }

    .active {
        .tag {
            &.theme-#{$i} {
                border: 2px solid rgba($color, 0.75);
            }
        }
    }
}