@import 'styles/settings.scss';

.site-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    background: $white;

    @include breakpoint(large) {
        height: $header-height-large;
    }

    .logo-container {
        height: 100%;
    }

    .logo {
        height: 100%;
        padding: 10px;

        @include breakpoint(large) {
            padding: 15px;

        }
    }
}