@import 'styles/settings.scss';

.site-header {
    height: $header-height;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

    .logo {
        padding: 20px;
        height: 100%;
    }
}