@import 'styles/settings';

.creations-page {
    padding: 150px 0;

    .filter-container {
        margin: 50px 0;
    }

    .filter-tags {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;

        .filter-item {
            margin: 5px;
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            &:hover {
                opacity: 0.5;
            }

            &.inactive {
                opacity: 0.75;
                transform: scale(.9);
            }
        }
    }
}