@import 'styles/settings';

.creations-page {
    .heading {
        &.xlarge {
            margin-bottom: 15px;

            @include breakpoint(large) {
                margin-bottom: 30px;
            }
        }
    }

    .filter-section {
        margin: 25px 0;
        padding: 35px 0;

        @include breakpoint(large) {
            padding: 75px 0;
            margin: 75px 0;
        }
        .filter-container {
            margin-top: 25px;
        }
    }

    .filter-tags {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;

        .filter-item {
            margin: 5px;
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            opacity: 0.75;

            &:hover {
                opacity: 0.5;
            }

            &.active {
                opacity: 1;
            }
        }
    }
}