@import 'styles/settings';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: $black;
    background: $off-white;
}

.content-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $primary;
}

p {
    line-height: 1.8;

    &.lead {
        font-size: 18px;
    }
}

.heading {
    font-weight: bold;
    font-family: 'Poppins', 'Lato', sans-serif;
    line-height: 1.4;
    
    &.large {
        font-size: 48px;
        color: $primary;
    }

    &.xlarge {
        font-weight: normal;
        font-size: 36px;

        @include breakpoint(medium) {
            font-size: 68px;
        }

        @include breakpoint(large) {
            font-size: 96px;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    padding: 0 $gutter / 2;
}

@each $bp,
$i in $breakpoints {
    @include breakpoint($bp) {
        @for $i from 1 through $columns {
            .column.#{$bp}-#{$i} {
                width: $i * 100% / $columns;
            }
        }
    }
}