@import 'styles/settings';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    transition: $transition;
    transition-property: transform, opacity, color, background, box-shadow, stroke, visibility;
}


body {
    font-size: 16px;
    color: $black;
    background: $off-white;
    @include breakpoint(medium) {
        font-size: 18px;
    }
}

.content-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $primary;
}

p {
    line-height: 1.8;

    &.lead {
        font-size: 18px;
    }
}

.heading {
    font-weight: bold;
    font-family: 'Poppins', 'Lato', sans-serif;
    line-height: 1.4;
    &.small {
        font-size: 22px;

        @include breakpoint(medium) {
            font-size: 36px;
        }
    }


    &.large {
        color: $primary;
        font-size: 24px;

        @include breakpoint(medium) {
            font-size: 36px;
        }

        @include breakpoint(large) {
            font-size: 72px;
        }
    }

    &.xlarge {
        line-height: 1;
    }

    &.xlarge,
    &.special {
        font-size: 36px;
        color: $primary;

        @include breakpoint(medium) {
            font-size: 68px;
        }

        @include breakpoint(large) {
            font-size: 96px;
        }
    }

    &.special {
        font-weight: normal;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    &.bottom {
        align-items: flex-end;
    }
}

.column {
    height: 100%;
    padding: 0 $gutter / 2;
}

@each $bp,
$i in $breakpoints {
    @include breakpoint($bp) {
        @for $i from 1 through $columns {
            .column.#{$bp}-#{$i} {
                width: $i * 100% / $columns;
            }
        }
    }
}