@import 'styles/settings';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $body-font;
    transition: $transition;
    transition-property: transform, opacity, color, background-color, box-shadow, stroke, visibility;
}


body {
    font-size: 16px;
    color: $black;
    background: $white;
    overflow-x: hidden;

    @include breakpoint(medium) {
        font-size: 18px;
    }
}

.content-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 $gutter;
}

.text-primary {
    color: $primary;
}

.background-primary {
    background: $primary;
    color: $white;
}

.background-light {
    background: $lightgray;
}

.text-secondary {
    color: $secondary;
}

.text-uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $primary;
}

p {
    line-height: 1.8;

    &.lead {
        font-size: 18px;
    }
}


.order-large-1 {
    @include breakpoint(large) {
        order: 1;
    }
}

.order-large-3 {
    @include breakpoint(large) {
        order: 3;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: -$gutter / 2;

    &.bottom {
        align-items: flex-end;
    }

    &.center {
        justify-content: center;
    }

    &.middle {
        align-items: center;
    }
}

.text-center {
    text-align: center;
}

.column {
    height: 100%;
    width: 100%;
    padding: $gutter / 2;
}

@each $bp,
$i in $breakpoints {
    @include breakpoint($bp) {
        @for $i from 1 through $columns {
            .column.#{$bp}-#{$i} {
                width: $i * 100% / $columns;
            }
        }
    }
}

.heading {
    font-weight: bold;
    font-family: $heading-font;
    line-height: 1.4;

    &.tiny {
        font-size: 20px;

        @include breakpoint(medium) {
            font-size: 28px;
        }
    }

    &.small {
        font-size: 22px;

        @include breakpoint(medium) {
            font-size: 36px;
        }
    }


    &.large {
        font-size: 24px;

        @include breakpoint(medium) {
            font-size: 36px;
        }

        @include breakpoint(large) {
            font-size: 72px;
        }
    }

    &.xlarge {
        line-height: 1.1;
        font-size: 36px;

        @include breakpoint(medium) {
            font-size: 68px;
        }

        @include breakpoint(large) {
            font-size: 96px;
        }
    }
}